{
  "env": {
    "development": {
      "presets": [
        "@babel/preset-react",
        "@babel/preset-env"
      ],
      "plugins": [
        "lodash",
        "add-module-exports",
        "@babel/plugin-proposal-class-properties",
        ["@babel/plugin-transform-runtime",
          {
            "regenerator": true
          }
        ]
      ],
      "comments": true
    },
    "test": {
      "presets": [
        "@babel/preset-react",
        "@babel/preset-env"
      ],
      "plugins": [
        "lodash",
        "add-module-exports",
        "@babel/plugin-proposal-class-properties",
        ["@babel/plugin-transform-runtime",
          {
            "regenerator": true
          }
        ]
      ],
      "comments": true
    },
    "production": {
      "presets": [
        "@babel/preset-react",
        "@babel/preset-env"
      ],
      "plugins": [
        "lodash",
        "add-module-exports",
        "@babel/plugin-proposal-class-properties",
        ["@babel/plugin-transform-runtime",
          {
            "regenerator": true
          }
        ]
      ],
      "comments": true
    }
  }
}
