.breadcrumb {
  margin-bottom: 20px;
  font-size: 14px;
  border-bottom: 1px solid #e5e5e5;
}

.sep {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 14px;
  background: url(./images/icon_breadcrumbs_arrow.svg) no-repeat center center;
}

.item {
  display: inline-block;
  padding-bottom: 12px;
  cursor: pointer;
}

.item:hover {
  border-bottom: 2px solid #1890ff;
}

.item:last-child {
  color: #1890ff;
  cursor: auto;
  border-bottom: 2px solid #1890ff;
}

.item:last-child:hover {
  color: #1890ff;
}
