.layout {
  :global(.content) {
    display: flex;
  }

  :global(.left) {
    width: 300px;
    padding: 10px;
    background: lightskyblue;
  }

  :global(.right) {
    flex: 1;
    padding: 10px;
  }
}
