.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  z-index: 10;
  width: 100%;
  height: 70px;
  background-color: white;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.15);
}

.content {
  display: flex;
  flex-grow: 2;
  height: calc(100vh - 70px);
}

.leftMask {
  display: none;
}

.left {
  width: 250px;
  padding: 10px 0;
  background-color: #193550;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-out;
}

.right {
  flex: 1;
  padding: 25px;
  overflow: auto;
  background-color: #fafafb;
  transition: all 0.3s ease-out;
}

.collapsed {
  width: 80px;
}

.expand {
  width: 250px;
}

.nav {
  background-color: #193550;
  box-shadow: 12px 24px rgba(18, 38, 63, 0.03);
}

.navInner {
  max-width: 1400px;
  margin: 0 auto;
}

.main {
  height: 100%;
}

:global(.top-mode) .content {
  display: block;
  height: calc(100vh - 118px);
  overflow: auto;
  background-color: #fafafb;
}

.middle {
  max-width: 1400px;
  height: calc(100% - 50px);
  padding: 25px 0;
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .leftMask {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
  }

  .collapsed {
    width: 0;
    overflow: hidden;
  }

  .leftMask.collapsed {
    display: none;
  }

  .left {
    position: absolute;
    z-index: 2;
    height: 100%;
  }

  .middle {
    padding: 25px;
  }
}
