.layout {
  & :global(.header) {
    height: 50px;
  }
  & :global(.content) {
    display: flex;
  }
  & :global(.left) {
    padding: 10px;
    width: 300px;
    background: lightskyblue;
  }
  & :global(.right) {
    flex: 1;
    padding: 10px;
  }
}
