.layout {
  & :global(.content) {
    display: flex;
  }

  & :global(.left) {
    padding: 10px;
    width: 300px;
    background: #f0f0f0;
  }

  & :global(.right) {
    flex: 1;
    padding: 10px;
  }
}
