.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  height: 88px;
}

.content {
  display: flex;
  flex-grow: 2;
}

.left {
  width: 300px;
  padding: 10px;
  background: lightskyblue;
  transition: all 0.3s ease-out;
}

.right {
  flex: 1;
  padding: 10px;
  transition: all 0.3s ease-out;
}

.collapsed {
  transform: translate(-100%);
}

.expand {
  margin-left: -300px;
}
